{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victor Balaniouk</title>

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="top-image">
        <img src="../../static/main/img/background.jpg" alt="Top Background">
    </div>
    <div>
        <h1>Welcome to My Website</h1>
        <p>This is the rest of your page content. Scroll down to see more.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis...</p>
    </div>
</body>
</html>
