body {
    background-color: #003049;
}

aside {
    float: left;
    background: #780000;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #FDF0D5;
    border-right: 5px solid #C1121F;
}

img {
    width: 50px;
}