/*
dark blue -> #003049
blue -> #669BBC
dark red -> #780000
red -> #C1121F
light yellow -> #FDF0D5
*/

/* body {
    background-color: #a00515;
} */

/* aside {
    float: left;
    background: #C1121F;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #003049;
    border-right: 5px solid #780000;
}

aside img {
    width: 75px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -4px;
}

aside h3 {
    margin-top: 100px;
} */


body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
}