/*
dark blue -> #003049
blue -> #669BBC
dark red -> #780000
red -> #C1121F
light yellow -> #FDF0D5
*/

body {
    background-color: #FDF0D5;
}

aside {
    float: left;
    background: #C1121F;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #003049;
    border-right: 5px solid #780000;
}

img {
    width: 50px;
}